In [87]:
import pandas as pd
import numpy as np

In [88]:
movies = pd.read_csv('anime.csv')
movies.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [89]:
ratings = pd.read_csv('rating.csv')
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [90]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [91]:
movies.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [92]:
ratings.isnull().sum()

user_id     0
anime_id    0
rating      0
dtype: int64

In [93]:
movies.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [94]:
movies.dropna(inplace=True)

In [95]:
movies.duplicated().sum()

0

In [96]:
movies.isnull().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [97]:
movies.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [98]:
movies['genre'] = list(movies['genre'])

In [99]:
movies.head(10)

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
6,11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
7,820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
8,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
9,15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109

In [100]:
movies = movies[['anime_id','name','genre','type']]

In [101]:
movies.head()

,anime_id,name,genre,type
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV

In [102]:
movies['tags'] = movies['genre']+movies['type']

<ipython-input-102-545d751da79e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['genre']+movies['type']

In [103]:
movies.head()

,anime_id,name,genre,type,tags
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,"Drama, Romance, School, SupernaturalMovie"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,"Sci-Fi, ThrillerTV"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,"Action, Comedy, Historical, Parody, Samurai, S..."

In [104]:
movie = movies[['anime_id','name','tags']]

In [105]:
movie

,anime_id,name,tags
0,32281,Kimi no Na wa.,"Drama, Romance, School, SupernaturalMovie"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, ThrillerTV"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S..."
...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,HentaiOVA
12290,5543,Under World,HentaiOVA
12291,5621,Violence Gekiga David no Hoshi,HentaiOVA
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,HentaiOVA
12293,26081,Yasuji no Pornorama: Yacchimae!!,HentaiMovie

In [106]:
import nltk

In [107]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [108]:
movie['tags'] = movie['tags'].apply(lambda x:x.lower())

<ipython-input-108-40a17173a0c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie['tags'] = movie['tags'].apply(lambda x:x.lower())

In [170]:
movie.rename(columns = {'name':'title'}, inplace = True)

/usr/local/lib/python3.9/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [171]:
movie

,anime_id,title,tags
0,32281,Kimi no Na wa.,"drama, romance, school, supernaturalmovie"
1,5114,Fullmetal Alchemist: Brotherhood,"action, adventure, drama, fantasy, magic, mili..."
2,28977,Gintama°,"action, comedy, historical, parody, samurai, s..."
3,9253,Steins;Gate,"sci-fi, thrillertv"
4,9969,Gintama&#039;,"action, comedy, historical, parody, samurai, s..."
...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,hentaiova
12290,5543,Under World,hentaiova
12291,5621,Violence Gekiga David no Hoshi,hentaiova
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,hentaiova
12293,26081,Yasuji no Pornorama: Yacchimae!!,hentaimovie

In [110]:
def stem(text):
  y = []

  for i in text.split():
    y.append(ps.stem(i))

  return " ".join(y)

In [111]:
movie['tags'].apply(stem)

0                 drama, romance, school, supernaturalmovi
1        action, adventure, drama, fantasy, magic, mili...
2        action, comedy, historical, parody, samurai, s...
3                                       sci-fi, thrillertv
4        action, comedy, historical, parody, samurai, s...
                               ...
12289                                            hentaiova
12290                                            hentaiova
12291                                            hentaiova
12292                                            hentaiova
12293                                           hentaimovi
Name: tags, Length: 12017, dtype: object

In [112]:
movie.shape

(12017, 3)

In [113]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000,stop_words ='english')

In [114]:
vectors = cv.fit_transform(movie['tags']).toarray()

In [115]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [116]:
cv.get_feature_names_out()

array(['action', 'actionmovie', 'actionona', 'actionova', 'actionspecial',
       'actiontv', 'adventure', 'adventuremovie', 'adventureona',
       'adventureova', 'adventurespecial', 'adventuretv', 'ai', 'aimovie',
       'aiona', 'aiova', 'aispecial', 'aitv', 'arts', 'artsmovie',
       'artsona', 'artsova', 'artsspecial', 'artstv', 'cars', 'carsmovie',
       'carsona', 'carsova', 'carsspecial', 'carstv', 'comedy',
       'comedymovie', 'comedyona', 'comedyova', 'comedyspecial',
       'comedytv', 'dementia', 'dementiamovie', 'dementiaona',
       'dementiaova', 'dementiaspecial', 'dementiatv', 'demons',
       'demonsmovie', 'demonsona', 'demonsspecial', 'drama', 'dramamovie',
       'dramaona', 'dramaova', 'dramaspecial', 'dramatv', 'ecchi',
       'ecchimovie', 'ecchiona', 'ecchiova', 'ecchispecial', 'ecchitv',
       'fantasy', 'fantasymovie', 'fantasyona', 'fantasyova',
       'fantasyspecial', 'fantasytv', 'fi', 'fimovie', 'fimusic', 'fiona',
       'fiova', 'fispecial', 'fitv', 'game', 'gamemovie', 'gameona',
       'gameova', 'gamespecial', 'gametv', 'harem', 'haremova',
       'haremspecial', 'haremtv', 'hentai', 'hentaimovie', 'hentaiona',
       'hentaiova', 'hentaispecial', 'historical', 'historicalmovie',
       'historicalona', 'historicalova', 'historicalspecial',
       'historicaltv', 'horror', 'horrormovie', 'horrorona', 'horrorova',
       'horrorspecial', 'horrortv', 'josei', 'joseiova', 'joseispecial',
       'joseitv', 'kids', 'kidsmovie', 'kidsona', 'kidsova',
       'kidsspecial', 'kidstv', 'life', 'lifemovie', 'lifemusic',
       'lifeona', 'lifeova', 'lifespecial', 'lifetv', 'magic',
       'magicmovie', 'magicona', 'magicova', 'magicspecial', 'magictv',
       'martial', 'mecha', 'mechamovie', 'mechaona', 'mechaova',
       'mechaspecial', 'mechatv', 'military', 'militarymovie',
       'militaryona', 'militaryova', 'militaryspecial', 'militarytv',
       'music', 'musicmovie', 'musicmusic', 'musicona', 'musicova',
       'musicspecial', 'musictv', 'mystery', 'mysterymovie', 'mysteryona',
       'mysteryova', 'mysteryspecial', 'mysterytv', 'parody',
       'parodymovie', 'parodyona', 'parodyova', 'parodyspecial',
       'parodytv', 'police', 'policemovie', 'policeona', 'policeova',
       'policespecial', 'policetv', 'power', 'powermovie', 'powermusic',
       'powerona', 'powerova', 'powerspecial', 'powertv', 'psychological',
       'psychologicalmovie', 'psychologicalmusic', 'psychologicalona',
       'psychologicalova', 'psychologicalspecial', 'psychologicaltv',
       'romance', 'romancemovie', 'romancemusic', 'romanceona',
       'romanceova', 'romancespecial', 'romancetv', 'samurai',
       'samuraimovie', 'samuraimusic', 'samuraiona', 'samuraiova',
       'samuraispecial', 'samuraitv', 'school', 'schoolmovie',
       'schoolmusic', 'schoolona', 'schoolova', 'schoolspecial',
       'schooltv', 'sci', 'seinen', 'seinenmovie', 'seinenmusic',
       'seinenona', 'seinenova', 'seinenspecial', 'seinentv', 'shoujo',
       'shoujomovie', 'shoujomusic', 'shoujoona', 'shoujoova',
       'shoujospecial', 'shoujotv', 'shounen', 'shounenmovie',
       'shounenona', 'shounenova', 'shounenspecial', 'shounentv', 'slice',
       'space', 'spacemovie', 'spacemusic', 'spaceona', 'spaceova',
       'spacespecial', 'spacetv', 'sports', 'sportsmovie', 'sportsmusic',
       'sportsona', 'sportsova', 'sportsspecial', 'sportstv', 'super',
       'supernatural', 'supernaturalmovie', 'supernaturalmusic',
       'supernaturalona', 'supernaturalova', 'supernaturalspecial',
       'supernaturaltv', 'thriller', 'thrillermovie', 'thrillerona',
       'thrillerova', 'thrillerspecial', 'thrillertv', 'vampire',
       'vampiremovie', 'vampiremusic', 'vampireona', 'vampireova',
       'vampirespecial', 'vampiretv', 'yaoiona', 'yaoiova', 'yaoispecial',
       'yuriona', 'yuriova', 'yurispecial'], dtype=object)

In [119]:
!pip install "numpy" "pandas" "sklearn" "nltk"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.3.5)
Collecting sklearn
  Downloading sklearn-0.0.post1.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (3.7)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.9/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from nltk) (4.65.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post1-py3-none-any.whl size=2344 sha256=5b242af00c44b54f93938ac231ba3a0815e51c6a35055003a1cedc44853ec4e5
  Stored in directory: /root/.cache/pip/wheels/f8/e0/3d/9d0c2020c44a519b9f02ab4fa6d2a4a996c98d79ab2f569fa1
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post1

In [121]:
from sklearn.metrics.pairwise import cosine_similarity

In [143]:
similarity = cosine_similarity(vectors)

In [144]:
similarity[0]

array([1.        , 0.18898224, 0.        , ..., 0.        , 0.        ,
       0.        ])

In [172]:
def recommend(mov):
    index = movie[movie['title'] == mov].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    
    for i in distances[1:6]:
        print(movie.iloc[i[0]].title)

In [173]:
recommend('Death Note')

Mousou Dairinin
Higurashi no Naku Koro ni Kai
Higurashi no Naku Koro ni
Death Note Rewrite
Mirai Nikki (TV)

In [156]:
movie.iloc[981]

anime_id                                                  323
name                                          Mousou Dairinin
tags        drama, mystery, police, psychological, superna...
Name: 981, dtype: object

In [157]:
movie.iloc[144]

anime_id                                                1889
name                           Higurashi no Naku Koro ni Kai
tags        mystery, psychological, supernatural, thrillertv
Name: 144, dtype: object

In [158]:
movie.iloc[334]

anime_id                                                  934
name                                Higurashi no Naku Koro ni
tags        horror, mystery, psychological, supernatural, ...
Name: 334, dtype: object